[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-shopping-cart = "*"
pillow = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
requests = "*"
pandas = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-phonenumber-field]
extras = [ "phonenumbers",]
