body {
  height: 100vh;
}

#profile-bg {
  background: url(../images/background/profile-cover.jpg) no-repeat;
  background-size: cover;
}

#profile-photo {
  object-fit: cover;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* filepond avatar upload */
.filepond--drop-label {
  font-size: 12px !important;
}

.avatar-upload {
  height: 12.5rem;
  width: 12.5rem;
}
