{% extends 'pages/base.html'%} {% block main %}
<div class="mb-20">
  <!-- Page content -->
  <div>
    <div class="text-center mt-15 mb-10">
      <h3
        class="display-6"
        style="text-decoration: underline; text-decoration-color: blueviolet"
      >
        Our Menus
      </h3>
    </div>
    <div class="container">
      <div class="row">
        {% for menu in object_list %}
        <div class="col-md-3">
          <div class="card rounded-3 h-100" style="width: 15rem; margin: auto">
            <img src="{{menu.image.url}}" alt="{{menu}}" class="card-img-top" />
            <!-- card body -->
            <div class="card-body">
              
                <h5 class="card-title fw-bold">
                    <a
                href="{% url 'restaurants:menu-detail' menu.cafeteria.slug menu.slug %}"
              >
              {{menu.name}}
            </a>
            </h5>
              <div class="card-subtitle">
                <span
                  class="
                    icon-shape icon-sm
                    bg-light-primary
                    text-primary
                    rounded-1
                  "
                >
                  <i class="bi bi-cash-coin"></i>
                </span>
                <span class="text-dark">&#8358;{{menu.price}}</span>
              </div>
              <div class="card-text">{{menu.description}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
