{% extends 'pages/base.html'%}

{% block main %}
<div class="mb-20">
    <!-- Page content -->
    <div>
        <div class="text-center mt-15 mb-10">
            <h3 class="display-6" style="text-decoration: underline; text-decoration-color: blueviolet;">Our Cafeterias
            </h3>
        </div>
        <div class="container">
            <div class="row text-center">
                {% for cafeteria in object_list %}
                <div class="col-md-4">
                    <a href="{% url 'restaurants:cafeteria-detail' cafeteria.slug %}">
                        <div class="card rounded-3">
                            <!-- card body -->
                            <div class="card-body pt-8">
                                <!-- project number -->
                                <div class="d-flex flex-column align-items-center text-truncate">
                                    <img src="{{cafeteria.image.url}}" alt="{{cafeteria}} photo"
                                        class="avatar-xxl rounded-2 d-block mb-3" style="object-fit: cover;" />
                                    <span class="icon-shape icon-sm bg-light-primary text-primary rounded-1">
                                        <i class="bi bi-shop"></i>
                                    </span>
                                    <span class="fw-bold text-dark ms-2">{{cafeteria.name}}</span>
                                    <span>{{cafeteria.email}}</span>
                                    <span class="text-dark">Opens: {{cafeteria.opening_hour}}</span>
                                    <span class="text-dark">Closes: {{cafeteria.closing_hour}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
{% endblock %}
