{% extends 'pages/base.html'%} {% block main %}
<div>
  <div class="container">
    <div class="row mt-12">
      <div class="col-12" style="height: 400px">
        <div
          style="
            height: 400px;
            width: 100%;
            max-width: 1108px;
            background: rgba(0, 0, 0, 0.6);
          "
          class="position-absolute rounded d-flex"
        ></div>
        <div
          style="height: 400px; width: 100%; max-width: 1108px"
          class="
            position-absolute
            rounded
            d-flex
            flex-column
            align-items-center
            justify-content-center
          "
        >
          <h4 class="display-5 text-white mb-2">Welcome to {{object.name}}</h4>
          {% if manager %}
          <img
            src="{{manager.user.avatar.url}}"
            class="
              avatar avatar-xl
              rounded-circle
              border border-circle border-2 border-primary
            "
            alt="{{object.manager}}"
          />
          <p class="text-white mb-2">{{manager}}</p>
          {% endif %}
          <div class="text-justify-left">
            <p class="text-white mb-2">
              <i class="me-2 icon-xs" data-feather="mail"></i> {{object.email}}
            </p>
            <p class="text-white mb-2">
              <i class="me-2 icon-xs" data-feather="compass"></i>
              {{object.address}}
            </p>
          </div>
        </div>
        <img
          style="
            object-fit: cover;
            object-position: center;
            width: 100%;
            max-width: 1108px;
          "
          class="rounded"
          src="{{object.image.url}}"
          alt="{{object.name}}"
          height="400"
        />
      </div>
    </div>
    <section class="page-section">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <p
            class="h1 section-heading text-uppercase text-center mt-8"
            style="
              text-decoration: underline;
              text-decoration-color: blueviolet;
            "
          >
            Available Menu
          </p>
        </div>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show my-5" role="alert">
            <small>{{message}}</small>
          </div>
          {% endfor %}
        {% endif %}
        {% if object.menus %}
        <div class="col-12 d-flex justify-content-end">
          <a href="{% url 'restaurants:menu-list' object.slug %}">View all</a>
        </div>
        {% endif %}
      </div>
    </section>
    <section class="page-section my-5">
      <div class="row">
        {% if object.menus %} {% for menu in object.menus.all %}
        <div class="col-md-3 col-xs-8 mb-5">
          <div class="card h-100 rounded-3" style="width: 15rem; margin: auto">
            <img
              class="card-img-top"
              src="{{menu.image.url}}"
              alt="{{menu.menu_name}}"
            />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">
                  <a
                    href="{% url 'restaurants:menu-detail' object.slug menu.slug %}"
                    >{{menu.name}}</a
                  >
                </h5>
              </div>
              <h5 class="card-title text-muted">{{menu.menu_type|title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <span
                  class="
                    icon-shape icon-sm
                    bg-light-primary
                    text-primary
                    rounded-1
                  "
                >
                  <i class="bi bi-cash-coin"></i>
                </span>
                &#8358;{{menu.price}}
              </h6>
              <p class="card-text text-truncate">
                <small>{{menu.description}}</small>
              </p>
              {% if user.is_student or user.is_lecturer %}
              {{cart_ids}}
                {% if menu.id in card_items_id %}
                  <a
                  href="#"
                  class="btn btn-sm btn-primary w-100 disabled"
                  >Added to cart</a
                >
                {% else %}
                  <a
                  href="{% url 'orders:cart_add' object.slug  menu.id %}"
                  class="btn btn-sm btn-outline-primary w-100"
                  >Add to cart</a
                >
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12 text-center mb-5">
          <h3>0 items available</h3>
          <p>There are no menu available in this cafeteria</p>
        </div>
        {% endif %}
      </div>
    </section>
    <!-- cafeteria review -->
    {% if user.is_student or user.is_lecturer %}
    <section class="page-section my-10">
      <div class="row">
        <div class="col-12 d-flex justify-content-center my-2">
          <p
            class="h1 section-heading text-uppercase text-center mt-8"
            style="
              text-decoration: underline;
              text-decoration-color: blueviolet;
            "
          >
            Reviews
          </p>
        </div>
        <div class="col-5 mx-auto">
          {% if form %}
          <form method="post">
            <fieldset>
              {% csrf_token %} {% for field in form %}
              <label for="{{field.label_id}}">{{field.label}}</label>
              {{field}} {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-md btn-primary">Submit</button>
          </form>
          {% endif %}
          <!-- Reviews by customer -->
          {% if reviews %}
          <div class="text-center mt-8">
            <p class="h5 text-uppercase my-5">Other Customer Reviews</p>
            <div class="row">
              {% for review in reviews %}
              <div class="col-4 mx-auto p-4 rounded {% if review.reviewer == request.user %} bg-primary text-white {% endif %}">
                <img
                  class="avatar avatar-md rounded-circle"
                  src="{{review.reviewer.avatar.url }}"
                  alt="{{review.reviewer}}"
                />
                <blockquote class="my-2">
                  <q><small>{{review.comment}}</small></q>
                </blockquote>
                <strong>
                  <small class="d-block">Ratings: {{review.rating}}</small>
                </strong>
                <span>{{review.reviewer}}</span>
                
                <!-- edit previous review -->
                {% if review.reviewer == request.user %}
                <!-- Review Modal -->
                <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog"
                aria-labelledby="reviewModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reviewModalTitle">Edit Review</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post">
                        <fieldset>
                          {% csrf_token %}
                          {% for field in editform %}
                          <label for="{{field.label_id}}">aa{{field.label}}</label>
                          {{field}} {% endfor %}
                        </fieldset>
                        <div class="form-submit mt-3">
                          <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                </div>

                <a href="#" class="btn btn-sm btn-white mt-3" data-bs-toggle="modal" data-bs-target="#reviewModal"><i class="icon-xs" data-feather="edit"></i></a>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
