<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'libs/prismjs/themes/prism.css' %}">
    <link rel="stylesheet" href="{% static 'libs/prismjs/plugins/line-numbers/prism-line-numbers.css' %}">
    <link rel="stylesheet" href="{% static 'libs/prismjs/plugins/toolbar/prism-toolbar.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'libs/dropzone/dist/dropzone.css' %}">
    <link href="{% static 'libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %} Document {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% block content %}

    {% endblock %}
    <!-- Libs JS -->
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script>
    <script src="{% static 'libs/prismjs/components/prism-core.min.js' %}"></script>
    <script src="{% static 'libs/prismjs/components/prism-markup.min.js' %}"></script>
    <script src="{% static 'libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <!-- Theme JS -->
    <script src="{% static 'js/theme.min.js' %}"></script>
    <script>
      $(function () {
          var width = window.matchMedia("(max-width: 1200px)");
          if (width.matches) {
            // small screen
            $('.navbar').addClass('navbar-classic');
          }else{
            // large screen
            $(window).on('scroll', function () {
              if ( $(window).scrollTop() > 10 ) {
                  $('.navbar').addClass('navbar-classic');
              } else {
                  $('.navbar').removeClass('navbar-classic');
              }
          });
          }
      });
    </script>
    <!-- javascripts section -->
    {% block scripts %}{% endblock %}
    {% endblock %}
  </body>
</html>
