{% extends 'cart/base.html' %} {% load cart_tag %} {% block main %}
<div class="container">
  <div class="text-center mt-15 mb-10">
    <h3 class="display-6" style="text-decoration: underline; text-decoration-color: blueviolet">
      Checkout
    </h3>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-5" role="alert">
      <small>{{message}}</small>
    </div>
    {% endfor %}
  {% endif %}
  <p>You currently have <strong>{{request.session.cart.items|length}}</strong> items in your cart</p>
  {% if request.session.cart.items %}
  <table class="table text-nowrap mb-0 mt-5">
    <thead class="table-light">
      <tr>
        <th>S/No</th>
        <th>Photo</th>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in request.session.cart.items %}
      <tr>
        <td class="align-middle">{{key}}</td>
        <td class="align-middle">
          <div class="d-flex align-items-center">
            <div>
              <div class="icon-shape icon-md border p-4 rounded-1">
                <img class="avatar avatar-lg rounded-circle" src="{{value.image}}" alt="{{value.name}}" />
              </div>
            </div>
          </div>
        </td>
        <td class="align-middle">
          {{value.name}}
        </td>
        <td class="align-middle">{{value.quantity}}</td>
        <td class="align-middle">&#8358;{{value.price}}</td>
        <td class="align-middle text-dark">
          &#8358;{{value.price|multiply:value.quantity}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row mb-10">
    <div class="col-6 offset-5">
      <div class="mt-5 d-flex justify-content-between align-items-center h-100">
        <div class="text-dark"><strong>Total</strong>: &#8358;{{total_cost}}</div>
        <div>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-md btn-outline-primary mr-5"><small>Place Order</small></button>
            <button type="button" class="btn btn-md btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#paystackPaymentModal"><small>Make Payment</small></a>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="text-center mt-10">
    <i class="icon-xxl" data-feather="shopping-cart"></i>
    <p class="mt-5">You have 0 items in your cart, please add items before you checkout</p>
  </div>
  {% endif %}
</div>


<!-- Paystack Modal -->
<div class="modal fade" id="paystackPaymentModal" tabindex="-1" role="dialog"
  aria-labelledby="paystackPaymentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paystackPaymentModalTitle">Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="paymentForm">
          <fieldset disabled>
            {% csrf_token %}
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input type="text" id="first-name" class="form-control" value="{{user.first_name}}" required />
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" class="form-control" value="{{user.last_name}}" required />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" id="email-address" class="form-control" value="{{user.email}}" required />
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="tel" id="amount" class="form-control" value="&#8358;{{total_cost}}" required />
            </div>
          </fieldset>
          <div class="form-submit mt-3">
            <button type="submit" class="btn btn-sm btn-primary" onclick="payWithPaystack()"> Proceed with Payment
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  // initialize paystack payment
  function payWithPaystack(e) {
    e.preventDefault();

    var amount = document.getElementById("amount").value;
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    let handler = PaystackPop.setup({
      key: 'pk_test_c220651af3a9b132b276408b76c042c37c1c7079', // Replace with your public key
      email: document.getElementById("email-address").value,
      amount: Number(amount.slice(1)) * 100,
      ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      // label: "Optional string that replaces customer email"
      onClose: function () {
        alert('Window closed.');
      },
      callback: function (response) {
        var reference = response.reference;
        var request = new Request(
          window.location.href,
          { headers: {'X-CSRFToken': csrftoken, 'Content-Type': 'application/json', "X-Requested-With": "XMLHttpRequest", } }
        );
        fetch(request, {
          method: 'POST',
          credentials: 'same-origin',
          body: JSON.stringify({
            "reference": reference,
          })
        }).then(function (response) {
          $('#paystackPaymentModal').modal('hide');
          window.location.reload();
        }).catch(function (error) {
          alert(error);
        })
      }
    });
    handler.openIframe();
  }

  window.addEventListener('load', function () {
    var paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPaystack, false);

  });
</script>
{% endblock %}