{% extends 'order/base.html' %} {% load cart_tag %} {% block main %}
<div class="container">
  {% if object %}
  <div class="text-center mt-15 mb-5">
    <h3
      class="display-6"
      style="text-decoration: underline; text-decoration-color: blueviolet"
    >
      Order ID: {{order.order_id}}
    </h3>
  </div>
  <span class="fw-bold d-block text-uppercase mt-2">Status: {{order.status}}</span>
  <span class="fw-bold d-block text-uppercase mt-2">Cafeteria: {{order.cafeteria}}</span>
  {% if order.delivery_date %}
  <span class="fw-bold d-block text-uppercase mt-2">Delivery Date: {{order.delivery_date}}</span>
  {% endif %}
  <span class="fw-bold d-block text-uppercase mt-2">Delivery Mode: {{order.delivery_mode}}</span>
  <span class="fw-bold d-block text-uppercase mt-2">Delivery Address: {{order.delivery_address}}</span>
  <span class="fw-bold d-block text-uppercase mt-2">Line Count: {{order.lines.count}}</span>
  <span class="fw-bold d-block text-uppercase mt-2">Total Price: {{order.total_price}}</span>
  <table class="table text-nowrap mb-5 mt-5">
    <thead class="table-light">
      <tr>
        <th>Menu</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {% for line in order.lines.all %}
      <tr>
        <td class="align-middle">
          <a href="{% url 'restaurants:cafeteria-detail' line.menu.cafeteria.slug %}">
            <img src="{{line.menu.image.url}}" alt="" class="avatar rounded me-3" style="object-fit: cover"> <span class="line-name">{{line.menu}}</span>
          </a>
        </td>
        <td class="align-middle">{{line.quantity}}</td>
        <td class="align-middle">{{line.total_price}}</td>
        <td class="align-middle">
          {% if not line.is_ready and order.status == "pending" %}
            <span><i class="icon-xs" data-feather="watch"></i>processing...</span>
          {% elif not line.is_ready and order.status == "cancelled" %}
            <span class="text-danger">canceled <i class="icon-xs" data-feather="delete"></i></span>
          {% else %}
          <span class="text-success">ready <i class="icon-xs" data-feather="check"></i></span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_worker %}
  <div class="d-flex justify-content-end">
    <form method="post">
      {% csrf_token %}
      {% if order.status == "pending" %}
      <input type="checkbox" name="approve" id="approve-checkbox" class="form-check-input"> <label for="approve-checkbox" class="me-3"><small>Mark all as complete and approve</small></label>
      {% elif order.status == "cancelled" %}
      {% else %}
      <input type="checkbox" name="reject" id="reject-checkbox" class="form-check-input"> <label for="reject-checkbox" class="me-3"><small>Mark all as incomplete and cancel</small></label>
      {% endif %}
      {% if order.status == "pending" %}
      <button type="submit" class="btn btn-sm btn-primary">
        Approve
      </button>
      {% elif order.status == "cancelled" %}
      {% else %}
      <button type="submit" class="btn btn-sm btn-danger">
        Cancel
      </button>
      {% endif %}
    </form>
  </div>
  {% endif %}
  {% else %}
  <div class="text-center mt-10">
    <i class="icon-xxl" data-feather="shopping-cart"></i>
    <p class="mt-5">You have 0 items in your cart, please add items before you checkout</p>
  </div>
  {% endif %}
</div>
{% endblock %}
