{% extends 'base.html' %} {% load static %} {% block stylesheets %}
<link
  href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
  rel="stylesheet"
/>
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<link
  href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

{% endblock %} {% block content %}{% endblock %} {% block scripts %}
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script type="text/javascript">
  FilePond.registerPlugin(
    window.FilePondPluginFileValidateType,
    window.FilePondPluginImageExifOrientation,
    window.FilePondPluginImagePreview,
    window.FilePondPluginImageCrop,
    window.FilePondPluginImageResize,
    window.FilePondPluginImageTransform,
    window.FilePondPluginImageEdit
  );

  // Select the file input and use
  // create() to turn it into a pond
  FilePond.create(document.querySelector(".filepond"), {
  });

  FilePond.setOptions({
    server: {
      process: {
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        url: "{{ request.path }}",
        method: "POST",
      },
      revert: {
        headers: {
          "X-CSRFToken": "{{csrf_token}}",
        },
        url: "{{ request.user.avatar.url }}",
        method: "DELETE",
      },
      fetch: "./{{ request.user.avatar.url }}"
    },
    labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
    imagePreviewHeight: 170,
    imageCropAspectRatio: "1:1",
    imageResizeTargetWidth: 200,
    imageResizeTargetHeight: 200,
    stylePanelLayout: "compact circle",
    styleLoadIndicatorPosition: "center bottom",
    styleProgressIndicatorPosition: "center bottom",
    styleButtonRemoveItemPosition: "center bottom",
    styleButtonProcessItemPosition: "right bottom",
  })
</script>
{% endblock %}
