{% extends 'registration/base.html'%} {% load static %} {% block main %}
<!-- page content -->
<div>
  <!-- Container fluid -->
  <div class="container-fluid px-6 py-4 mt-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div>
          <div
            class="
              border-bottom
              pb-4
              mb-4
              d-flex
              align-items-center
              justify-content-between
            "
            >
            <div class="mb-2 mb-lg-0">
              <div class="mb-4">
                <a href="{% url 'accounts:profile' user.username %}">Back to Profile</a>
              </div>
              <h3 class="mb-0 fw-bold">General</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
          <h4 class="mb-1">General Setting</h4>
          <p class="mb-0 fs-5 text-muted">Profile configuration settings</p>
        </div>
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div class="card p-4">
          <!-- card body -->
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-1">General Settings</h4>
            </div>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %} {% if user.avatar %}
              <div class="row align-items-center mb-8">
                <div class="col-md-10 mx-auto">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="me-3">
                      <img
                        src="{{user.avatar.url}}"
                        id="profile-photo"
                        class="
                          rounded-circle
                          avatar avatar-upload
                          img-thumbnail
                        "
                        alt="{{user.username}}"
                      />
                    </div>
                    <div class="input-group-sm mb-3 me-3">
                      <input type="file" name="avatar" class="form-control" id="avatarInput">
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="input-group-sm mb-3">
                <label class="input-group-text" for="avatarInput">Upload</label>
                <input type="file" name="avatar" class="form-control" id="avatarInput">
              </div>
              {% endif %}
              <div>
                <!-- border -->
                <div class="mb-6">
                  <h4 class="mb-1">Basic information</h4>
                </div>
                <!-- First and Last name -->
                <div class="row mb-3">
                  <div class="col-12">{{form.non_field_errors}}</div>
                  <div class="col-6">
                    {{form.first_name.errors}}
                    <label
                      for="{{form.first_name.id_for_label}}"
                      class="form-label"
                      >First Name</label
                    >
                    {{form.first_name}}
                  </div>
                  <div class="col-6">
                    {{form.last_name.errors}}
                    <label
                      for="{{form.last_name.id_for_label}}"
                      class="form-label"
                      >Last Name</label
                    >
                    {{form.last_name}}
                  </div>
                </div>
                <!-- Username and Email -->
                <div class="row mb-3">
                  <div class="col-6">
                    {{form.username.errors}}
                    <label
                      for="{{form.username.id_for_label}}"
                      class="form-label"
                      >User Name</label
                    >
                    {{form.username}}
                  </div>
                  <div class="col-6">
                    {{form.email.errors}}
                    <label for="{{form.email.id_for_label}}" class="form-label"
                      >Email</label
                    >
                    {{form.email}}
                  </div>
                </div>
                <!-- Phone and Gender -->
                <div class="row mb-3">
                  <div class="col-4 mb-3">
                    {{form.phone.errors}}
                    <label for="{{form.phone.id_for_label}}" class="form-label"
                      >Phone</label
                    >
                    {{form.phone}}
                  </div>
                  <div class="col-4 mb-3">
                    {{form.gender.errors}}
                    <label for="{{form.gender.id_for_label}}" class="form-label"
                      >Gender</label
                    >
                    {{form.gender}}
                  </div>
                  {% if user.is_student or user.is_lecturer %}
                  {% if user.is_student %}
                  <!-- Matric and Level -->
                  <div class="col-4 mb-3">
                    {{form.matric.errors}}
                    <label for="{{form.matric.id_for_label}}" class="form-label"
                      >Matriculation Number</label
                    >
                    {{form.matric}}
                  </div>
                  <div class="col-6 mb-3">
                    {{form.level.errors}}
                    <label for="{{form.level.id_for_label}}" class="form-label"
                      >Level</label
                    >
                    {{form.level}}
                  </div>
                  {% endif %}
                  <!-- Department -->
                  <div class="col-6 mb-3">
                    {{form.department.errors}}
                    <label
                      for="{{form.department.id_for_label}}"
                      class="form-label"
                      >Department</label
                    >
                    {{form.department}}
                  </div>
                  <!-- Address -->
                  <div class="col-12 mb-3">
                    {% if user.is_student %}
                    {{form.student_address.errors}}
                    <label
                      for="{{form.student_address.id_for_label}}"
                      class="form-label"
                      >Address</label
                    >
                    {{form.student_address}}
                    {% else %}
                    {{form.lecturer_address.errors}}
                    <label
                      for="{{form.lecturer_address.id_for_label}}"
                      class="form-label"
                      >Address</label
                    >
                    {{form.lecturer_address}}
                    {% endif %}
                  </div>
                  {% elif user.is_worker %}
                  <div class="col-4">
                    {{form.worker_role.errors}}
                    <label
                      for="{{form.worker_role.id_for_label}}"
                      class="form-label"
                      >Cafeteria Role</label
                    >
                    {{form.worker_role}}
                  </div>
                  {% else %}
                  {% endif %}
                </div>
                <!-- row -->
                <button
                  type="submit"
                  class="btn btn-sm btn-primary mt-6"
                >
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
          <h4 class="mb-1">Delete Account</h4>
          <p class="mb-0 fs-5 text-muted">
            Easily set up social media accounts
          </p>
        </div>
      </div>

      <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <!-- card -->

        <div class="card mb-6">
          <!-- card body -->
          <div class="card-body">
            <div class="mb-6">
              <h4 class="mb-1">Danger Zone</h4>
            </div>
            <div>
              <!-- text -->
              <div class="alert alert-warning d-flex align-items-center" role="alert">
                <div>
                  This is an experimental feature and isn't currently enabled please contact the admin to delete your account
                </div>
              </div>
              <p>
                <small
                  >Delete any and all content you have, such as biodata,
                  invoices, your order history list or transaction history.
                  Allow your username to become available to anyone.</small
                >
              </p>
              <a href="#" class="btn btn-sm btn-danger disabled" title="This feature isn't currently enabled please contact the admin to delete your account">Delete Account</a>
              <p class="small mb-0 mt-3">
                Feel free to contact the <a href="#">Admin</a> with any
                questions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
