{% load static %} {% load cart_tag %}

<nav class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}"
    ><img src="{% static 'images/brand/logo/brand-logo.png' %}" alt="..."
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    Menu
    <i class="fas fa-bars ms-1"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'restaurants:cafeterias' %}"
          >Cafeterias</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'orders:purchases' %}">Orders</a>
      </li>
      {% if user.is_worker and user.worker.worker_role == "manager" %}
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="#"
          role="button"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Administration</a
        >
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser"
        >
          <ul class="list-unstyled">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'restaurants:menu-list' user.worker.cafeteria.slug %}"
              >
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="shopping-cart"
                ></i
                >Menu Administration
              </a>
            </li>
            <!-- <li>
              <a
                class="dropdown-item"
                href="{% url 'restaurants:menu-list' user.worker.cafeteria.slug %}"
              >
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="user"
                ></i
                >Staff Administration
              </a>
            </li> -->
          </ul>
        </div>
      </li>
      {% endif %}
    </ul>
    <!--Navbar nav -->
    <ul class="navbar-nav navbar-right-wrap mx-5 d-flex nav-top-wrap">
      {% if user.is_authenticated %}
      <!-- shopping cart -->
      {% if user.is_student %}
      <li class="dropdown stopevent me-2">
        <a
          class="
            btn btn-light btn-icon
            rounded-circle
            indicator indicator-primary
            text-muted
          "
          href="#"
          role="button"
          id="dropdownCart"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="icon-xs" data-feather="shopping-cart"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
          aria-labelledby="dropdownCart"
        >
          <div class="">
            <div
              class="
                border-bottom
                px-3
                pt-2
                pb-3
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <p class="mb-0 text-dark fw-medium fs-4">Shopping Cart</p>
            </div>
            <!-- List group -->
            <ul class="list-group list-group-flush notification-list-scroll">
              {% for key,value in request.session.cart.items %}
              <!-- List group item -->
              <li class="list-group-item bg-light">
                <span href="#" class="text-muted">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <h5 class="fw-bold mb-1">{{value.name}}</h5>
                      <h6 class="mb-1">Price: {{value.price}}</h6>
                      <h6 class="mb-1">Quantity: {{value.quantity}}</h6>
                      <p class="mb-0">
                        <strong
                          ><small
                            >Total: {{
                            value.price|multiply:value.quantity}}</small
                          ></strong
                        >
                      </p>
                    </div>
                    <div class="col-4 text-center">
                      {% if value.image %}
                      <img
                        src="{{value.image}}"
                        class="
                          d-inline-block
                          avatar avatar-lg
                          rounded-circle
                          mr-4
                        "
                        alt="{{value.name}}"
                      />
                      {% endif %}
                    </div>
                    <div class="col-2">
                      <a href="{% url 'orders:item_clear' value.product_id %}"
                        ><i class="icon-xs" data-feather="trash"></i
                      ></a>
                    </div>
                  </div>
                </span>
              </li>
              {% endfor %}
            </ul>
            <div class="border-top px-3 py-2 text-center">
              <a
                href="{% url 'orders:cart_detail' %}"
                class="text-inherit fw-semi-bold"
              >
                View all Items in Cart
              </a>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      <li class="dropdown">
        <a
          class="rounded-circle"
          href="#"
          role="button"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-md avatar-indicators avatar-online">
            {% if user.avatar %}
            <img
              alt="avatar"
              src="{{user.avatar.url}}"
              class="rounded-circle"
            />
            {% else %}
            <img
              alt="avatar"
              src="https://ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}"
              class="rounded-circle"
            />
            {% endif %}
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser"
        >
          <div class="px-4 pb-0 pt-2">
            <div class="lh-1">
              <h5 class="mb-1">
                {{request.user.first_name}} {{request.user.last_name}}
              </h5>
              <a
                href="{% url 'accounts:profile' user.username %}"
                class="text-inherit fs-6"
                >View my profile</a
              >
            </div>
            <div class="dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'accounts:setting' user.username %}"
              >
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="user"
                ></i
                >Edit Profile
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'accounts:setting' user.username %}"
              >
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="settings"
                ></i
                >Account Settings
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i
                  class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"
                ></i
                >Sign Out
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
